
/* ----------------------------- */
/* Basic Structure */
/* ----------------------------- */

/* Base color : #EEDAD9*/
*{
    margin: 0;;
    padding: 0;
    box-sizing: border-box;
}

html,
body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
    background-color: #fff;
    color: #466A70;
    overflow-x: hidden;
}

.clearfix {zoom: 1}
.clearfix::after {
    content: '.';
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}

section{
    padding: 80px 0;
}

a {
    text-decoration: none;
}


/* ----------------------------- */
/* Header */
/* ----------------------------- */

header{
    background-image: url('../images/AB-I-2.jpg');
    background-attachment: fixed;
    height: 100vh;
    background-size: cover;
    background-position: center;
    color: #fff;
    position: relative;
    margin-top: 0;
}

.hero-text-box {
    position: absolute;
    margin: auto;
    width: 20%;
    height: 10%;
    top:45%;
    left: 40%;
}

/* ------- Main Navigation ----------*/

.main-nav {
    float: right;
    list-style: none;
    margin-top: 55px; 
}

.main-nav li {
    display: inline-block;
    margin-left: 40px;
    border-bottom: 5px solid transparent;
}

.main-nav li a {
    text-decoration: none;
}

.brand{
    display: block;
    position: relative;
}
.brand-black{
    display: none;
    position: relative;
    color: #000;
}

.brand-black a:link,
.brand-black a:visited{
    display: inline-block;
    position: absolute;
    top: 18px;
    left: 0;
    text-decoration: none;
}

.brand a:link,
.brand a:visited {
    display: inline-block;
    position: absolute;
    top: 60px;
    left: 0;
    text-decoration: none;
}

.brand a:hover,
.brand a:active,
.brand-black a:hover,
.brand-black a:active,
.main-nav li:hover,
.main-nav li:active{
    border-bottom: 5px solid #EEDAD9;
}

/* sticky navigation */
.sticky{
    position: fixed;
    top: 0;
    left: 0%;
    width: 100%;
    background-color: #EEDAD9;
    box-shadow: 0 2px 2px #efefef;
    z-index: 9999;
}

.sticky .main-nav li a:link,
.sticky .main-nav li a:visited {
    color: #555;
    padding:16px 0;
}

.sticky .main-nav { 
    margin: 20px 0;
}

.sticky .brand-black {display: block;}
.sticky .brand {display: none;}

/* ---------- Mobile Navigation --------- */
.mobile-nav-icon {
    float: right;
    margin-top: 30px;
    cursor: pointer;
    display: none;
}

.mobile-nav-icon i {
    color: #fff;
    font-size: 200%;
}


/* ----------- Contact Section -------------- */

.contact-form {
    width: 60%;
    margin: 0 auto;
}

input[type=text], 
input[type=email], 
select,
textarea {
    width: 100%;
    padding: 7px;
    border-radius: 3px;
    border: 1px solid #ccc;
}

textarea {
    height: 100px;
}

input[type=checkbox]{
    margin:  10px 5px 10px 0;
}

*:focus{
    outline: none;
}

/* ---------- Projects --------------*/

.section-projects {
    margin-bottom: 0;
}

.project-showcase {
    list-style: none;
    width: 100%;
}

.project-showcase li {
    display: block;
    float: left;
    width: 33%;
}


.project-photo{
    width: 100%;
    margin: 0;
    overflow: hidden;
    background-color: #000; 
}

.project-photo img {
    opacity: 0.7;
    width: 100%;
    height: auto;
    -webkit-transform: scale(1.15);
            transform: scale(1.15);
    -webkit-transition: opacity 0.5s, -webkit-transform 0.5s;
    transition: opacity 0.5s, -webkit-transform 0.5s;
    transition: transform 0.5s, opacity 0.5s;
    transition: transform 0.5s, opacity 0.5s, -webkit-transform 0.5s;
}

.project-photo img:hover{
    opacity: 1;
    -webkit-transform: scale(1.03);
            transform: scale(1.03);
}

/* ------------- About ----------- */
.section-about {
    background-image: -webkit-gradient(linear,left top, left bottom,from(rgba(0, 0, 0, 0.8)),to(rgba(0, 0, 0, 0.8))), url(../images/AB-I-1.jpg);
    background-image: linear-gradient(rgba(0, 0, 0, 0.8),rgba(0, 0, 0, 0.8)), url(../images/AB-I-1.jpg);
    background-size: cover; 
    color: #fff;
    background-attachment: fixed;
    margin: 0;
}

.about-owner {
    font-size: 90%;
    line-height: 145%;
    text-align:  center;
}

.about-owner:before{
    content: "\201C";
    font-size: 500%; 
    display: block;
    position: absolute;
    top:-5px;
    left: -5px;
}

blockquote {
    margin: 0 auto;
    width: 80%;
    padding: 10px 0;
}

/* -------- footer ---------- */
footer {
    color: #000;
    background:#EEDAD9;
}

/* ------- Buttons --------- */

.btn:link,
.btn:visited,
input[type=submit]{
    display: inline-block;
    padding: 10px 30px;
    font-weight: 300;
    text-decoration: none;
    border-radius: 200px;
    -webkit-transition: background-color 0.2s, border 0.2s, color 0.2s;
    transition: background-color 0.2s, border 0.2s, color 0.2s;
}

.btn-ghost:link,
.btn-ghost:visited,
input[type=submit]:link,
input[type=submit]:visited{
    border: 1px solid #EEDAD9;
    color: #fff;
}

.btn-full:link,
.btn-full:visited{
    background-color: #e67e22;
    border: 1px solid #e67e22;
    color: #fff;
    margin-right: 15px;
}

.btn:hover,
.btn:active,
input[type=submit]:hover,
input[type=submit]:active{
    background-color: #EEDAD9;
    color: #000;
}

.btn-ghost:hover,
.btn-ghost:active,{
    border: 1px solid #EEDAD9;
    color: #000;
}

/*---------- Contact form ------------- */
.submit-form {
    text-align: center;
}

/* ---------- Paragraph ------------- */


/* ----------------------------- */
/* Reuable classes  */
/* ----------------------------- */
.row{
    max-width: 1140px;
    margin: 0 auto;
}

h1 {
    font-size: 300%;
    letter-spacing: 2px;
    word-spacing: 4px;
    text-transform: uppercase;
}

h2,
h3,
h4 {
    text-align: center;
}

h3{
    font-size: 180%;
}
h4{
    font-size: 160%;
    letter-spacing: 1px;
    word-spacing: 2px;
}

textarea {
    width: 100%;
    padding: 7px;
    border-radius: 3px;
    border: 1px solid #ccc;
    height: 100px;
}

.long-copy {
    margin: 0 auto;
    line-height: 150%;
    width: 80%;
    text-align: justify;
    letter-spacing: 1px;
    word-spacing: 1.5px;
}
